@import "defult.scss";

.container-fluid {
    display: flex;
    height: 100vh;

}

/* Start Responsive for mobile  */
#over {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.242);
    transition: $transision-esein-out;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.active-over {
    visibility: visible !important;
    opacity: 1 !important;
}


#btnmenu {
    position: fixed;
    left: 15px;
    top: 15px;
    border: none;
    cursor: pointer;
    box-shadow: $box-shadow-soft;
    border-radius: 10px;
    display: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 9;

    svg {
        width: 22px;
        height: 22px;
    }
}

/* End Responsive for mobile  */

.header-account {
    margin-right: 15px;

    h1 {
        font-size: 20px;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            right: -35px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-red;
            box-shadow: $box-shadow-red;
            width: 6px;
            height: 35px;
        }

        &::before {
            position: absolute;
            content: '';
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-red;
            box-shadow: $box-shadow-red;
            width: 6px;
            height: 20px;
        }
    }
}

.accordion-right {
    width: 260px;
    box-shadow: $box-shadow-hard;
    margin: 10px;
    border-radius: 10px;
    z-index: 10;
    transition: $transision-esein-out;
    background-color: #fff;
    z-index: 99;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin: 7px 0px;

            a {
                color: #222;
                display: flex;
                height: 55px;
                width: 200px;
                align-items: center;
                padding: 0px 15px;
                box-shadow: $box-shadow-soft;
                border-radius: 7px;
                font-size: 14px;
                transition: $transision-esein-out;
                justify-content: space-between;

                svg {
                    width: 25px;
                    transition: $transision-esein-out;
                }

                &:hover {
                    color: #fff;
                    background-color: $color-red;
                    transform: translateX(-5px);

                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.right-sec {
    box-shadow: $box-shadow-hard;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.container-inp {
    margin-top: 30px;
    align-self: center;
    width: 100%;
    padding: 20px 10px;
    border-radius: 14px;

    .inp-group {
        display: flex;
    }

    .sec-inp {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: 8px 0px;
        width: 100%;

        label {
            color: #222;
            margin: 0px 20px;
        }

        .text-danger {
            font-size: 13px;
            color: #a11b3b;
            margin-top: 3px;
            margin: 0px 20px;
        }

        input[type="text"] {
            height: 40px;
            padding: 5px 10px;
            transition: $transision-esein-out;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            margin: 10px 20px;

            &:focus {
                border-color: $color-red;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
            }
        }

        .submit {
            font-family: "shabnam";
            background-color: $color-red;
            color: #fff;
            box-shadow: $box-shadow-red;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            transition: $transision-esein-out;
            height: 40px;
            cursor: pointer;
            margin-top: 20px;
            margin-right: 15px;
            width: 180px;

            &:hover {
                background-color: #a11b3b;
            }
        }
    }
}


.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 14px;


    .btn-edit {
        color: $color-blue;
        transition: $transision-esein-out;

        &:hover {
            color: #112b52;
        }
    }

    .btn-delete {
        color: $color-red;
        transition: $transision-esein-out;

        &:hover {
            color: #891933;
            ;
        }
    }

    .type-success {
        color: $color-success;
    }

    .type-yellow {
        color: $color-gold;
    }

    .text-center {
        text-align: center;
    }
}

.table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
    min-width: 150px;
}

th {
    background-color: #f8f8f8;
}

.btn-detail {
    display: flex;
    height: 30px;
    width: 80px;
    color: $color-blue;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    transition: $transision-esein-out;
    box-shadow: 0 3px 8px color-mix(in srgb, #1b29f2bc 65%, transparent);
    background-color: $color-blue;
    color: #fff;

    &:hover {
        background-color: #112b52;
        box-shadow: none;

    }
}

.btn-factor {
    display: flex;
    height: 30px;
    width: 80px;
    color: $color-blue;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    transition: $transision-esein-out;
    box-shadow: 0 3px 8px color-mix(in srgb, #f2e41bbc 65%, transparent);
    background-color: $color-gold;
    color: #fff;
    margin: 0px 10px;

    &:hover {
        background-color: #9f701e;
        box-shadow: none;

    }
}

.p-3 {
    span {
        padding: 0px 2px;
    }
}

.row {
    margin-top: 40px;
    background-color: #eee;
    overflow-y: scroll;
    overflow-x: auto;
    height: 80vh;
    background-color: #eee;
    padding: 10px;
    border-radius: 7px;

}

.d-flex {
    display: flex;
    justify-content: center;
}

.t-w200 {
    text-align: center;
    width: 250px;
}

.container-orders {
    display: none;
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    transition: $transision-esein-out;
}


.container-edit-account {
    display: none;
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    transition: $transision-esein-out;
}

.active-orders {
    display: flex !important;
    transform: translateY(0px);
    visibility: visible !important;
    opacity: 1 !important;
}

.active-details-account {
    display: block !important;
    transform: translateY(0px);
    visibility: visible !important;
    opacity: 1 !important;
}


/* Start Pagging */
.pagging {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .list-count {
        display: flex;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            margin: 0px 5px;
            background-color: #eee;
            transition: $transision-esein-out;
            border-radius: 5px;
            transition: $transision-esein-out;

            a {
                transition: $transision-esein-out;
                color: #222;
            }

            &:hover {
                background-color: #a11b3b;
                box-shadow: $box-shadow-red;

                a {
                    color: #fff;
                }
            }
        }

        .active {
            background-color: #a11b3b;

            a {
                color: #fff;
            }
        }
    }
}

/* End Pagging */


/* Start Responsive */
@media (max-width: 900px) {

    .right-sec {
        margin: 0px !important;
        border-radius: 0px;
        box-shadow: none;
    }

    .accordion-right {
        position: absolute;
        transform: translate(300px);
        visibility: hidden;
        opacity: 0;
        top: 0px;
        bottom: 0px;
        width: 220px;
    }

    .accordion-right-active {
        transform: translate(0px) !important;
        visibility: visible !important;
        opacity: 1 !important;
    }

    #btnmenu {
        display: flex;
    }





    .container-inp {
        margin-top: 0px;
        // align-self: center;
        border: none;
        width: 100%;
        padding: 20px 10px;
        border-radius: 0px;
        box-shadow: none;

        .inp-group {
            display: flex;
            flex-direction: column;
        }
    }

}

/* End Responsive */