@import "defult.scss";


/* Start Remove spin input Number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* End Remove spin input Number */

/* Start Steps */
.Steps {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .box {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 40px;

        .img {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 10px;

            svg {
                width: 30px;
            }
        }

        .arrow-left {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 200px;
                height: 5px;
                background-color: #eee;
                right: 0px;
                z-index: -1;
            }
        }

        .tick {
            background-color: $color-red;
        }

        .not-tick {
            background-color: #eee;
        }

        span {
            color: #222;
            font-size: 13px;
        }
    }
}
/* End Steps */


.container-fluid {
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.sec-right {
    width: 75%;
    margin-left: 20px;
}

.sec-left {
    width: 25%;
}

/* Start Card */
.card {
    background-color: #fff;
    border-radius: 10px;
    width: 240px;
    height: 360px;
    padding: 10px;
    box-shadow: $box-shadow-soft;
    transition: $transision-esein-out;

    .card-thumnail {
        text-align: center;

        img {
            width: 200px;
        }
    }

    .card-body {
        position: relative;
        height: 90px;

        .card-title {
            padding: 10px 0px;

            a {
                color: #333;

                h2 {
                    font-size: 15px;
                    transition: $transision-esein-out;

                    &:hover {
                        color: $color-red;
                    }
                }
            }
        }

        .card-buttons {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: end;
            left: 0px;
            right: 0px;
            bottom: 0px;

            .count {
                display: flex;
                align-items: center;

                button {
                    height: 30px;
                    width: 30px;
                    background-color: $color-red;
                    color: #fff;
                    border: none;
                    border-radius: 7px;
                    font-size: 20px;
                    margin: 0px 4px;
                    transition: $transision-esein-out;
                    cursor: pointer;

                    &:hover {
                        background-color: #741027;
                    }
                }

                #counter {
                    width: 30px;
                    height: 30px;
                    appearance: textfield;
                    border: 2px solid #444;
                    border-radius: 7px;
                    font-size: 16px;
                    text-align: center;
                }
            }

            .amount-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                margin-left: 5px;

                .discount-lable {
                    color: #555;
                    position: relative;
                    margin: -5px 0px;

                    &::after {
                        position: absolute;
                        content: '';
                        left: 0px;
                        right: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $color-red;
                        height: 1px;
                    }
                }

                .lable {
                    color: #222;
                    font-size: 16px;
                }
            }
        }
    }

    .remove-cart {
        width: 100%;

        .remove {
            margin-top: 10px;
            display: flex;
            width: 100%;
            height: 30px;
            font-family: "shabnam";
            color: $color-red;
            border: none;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            cursor: pointer;
            transition: $transision-esein-out;

            &:hover {
                background-color: #bcbcbc;
            }
        }
    }
}

/* End Card */


/* Start Box Details */
.box-details {
    box-shadow: $box-shadow-hard;
    padding: 20px;
    border-radius: 10px;

    .header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px dashed #ccc;

        font-size: 14px;
        color: #222;
    }

    .pikup {
        margin-top: 20px;
        font-size: 14px;
        color: #222;

        .method-pikup {
            .method {
                background-color: #e7e7e7;
                padding: 10px;
                margin: 8px 0px;
                border-radius: 7px;
                font-size: 14px;
                display: flex;

                span {
                    margin-right: 10px;
                }
            }
        }

        .address {
            margin-top: 10px;
            font-size: 14px;
            background-color: #fff8e1;
            border: 1px solid #ddd;
            padding: 5px;

            .colorize {
                color:
                    #555;
            }
        }

        .change-address {
            margin: 10px;

            a {
                font-size: 14px;
                color: $color-blue;
            }
        }
    }

    .amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        color: #222;
        padding: 10px 10px;
        border-radius: 10px;
        background-color: rgba(232, 58, 58, 0.16);
    }
}

.btn-pay {
    margin-top: 14px;

    .pay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: $color-red;
        color: #fff;
        font-family: "shabnam";
        font-size: 15px;
        transition: $transision-esein-out;
        box-shadow: $box-shadow-red;

        &:hover {
            background-color: #a51d3c;
        }
    }
}

/* End Box Details */


/* Start container-dsicount */

.container-dsicount {
    width: 75%;
    border: 1px solid #eee;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

    .box-discount {
        display: flex;
    }

    input {
        outline: none;
        width: 250px;
        padding: 10px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-left: 20px;
        transition: $transision-esein-out;

        &:focus {
            border: 1px solid $color-red;
        }
    }

    .apply-discount {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        border: none;
        background-color: $color-red;
        color: #fff;
        font-family: "shabnam";
        font-size: 13px;
        transition: $transision-esein-out;
        box-shadow: $box-shadow-red;

        &:hover {
            background-color: #a51d3c;
        }
    }

    .update {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 120px;
        border-radius: 10px;
        border: none;
        background-color: $color-red;
        color: #fff;
        font-family: "shabnam";
        font-size: 13px;
        transition: $transision-esein-out;
        box-shadow: $box-shadow-red;

        &:hover {
            background-color: #a51d3c;
        }
    }


}

/* End container-dsicount */


/* Start Responsive */
@media only screen and (max-width: 1000px) {

    /* Start Steps */
    .Steps {
        .box {
            margin: 0px 20px;

            .img {
                width: 30px;
                height: 30px;

                svg {
                    width: 20px;
                }
            }

            .arrow-left {

                &::after {
                    width: 130px;
                }
            }

            span {
                font-size: 12px;
            }
        }
    }

    /* End Steps */

    .container-fluid {
        flex-direction: column;
    }

    .sec-right {
        width: 100%;
        margin: 0px;
    }

    .sec-left {
        width: 100%;
        margin-top: 20px;
    }

    .container-dsicount {
        flex-direction: column;
        // align-items: center;
        width: 100%;

        .box-discount {
            margin-bottom: 10px;
        }
    }
}

/* End Responsive */