@import "defult.scss";

html{
 //   overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-contact {
    display: flex;
    border-radius: 14px;
    box-shadow: $box-shadow-soft;
    height: 640px;
    width: 900px;
}

.sec-right {
    width: 50%;
    border-radius: 0px 14px 14px 0px;
    padding: 20px;

    /* Start Header */
    header {
        h1 {
            font-size: 18px;
            color: $color-red;
            margin: 9px 0px;
        }

        h4 {
            font-size: 22px;
            color: #222;
            margin: 9px 0px;
        }

        p {
            font-size: 16px;
            color: #666;
            margin: 9px 0px;
        }
    }

    /* End Header */

    .sec-cotact {
        margin-top: 30px;

        .sec-list {
            box-shadow: $box-shadow-soft;
            padding: 11px 30px;
            margin: 14px 0px;
            border-radius: 6px;
            display: flex;
            justify-content: space-between;
            color: #222;

            svg{
                width: 26px;
            }
        }
    }

    .sec-box {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .box-social {
            height: 100px;
            box-shadow: $box-shadow-soft;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            margin: 0px 10px;

            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #222;
            }

            .icon {

                svg {
                    width: 50px;
                }
            }

            h2 {
                font-size: 14px;
            }
        }
    }
}

.sec-left {
    width: 50%;
    background-color: #eee;
    background: url("/images/aboutus/company-mobile.png");
    border-radius: 14px 0px 0px 14px;
    padding: 20px;

    header {
        h2 {
            color: #fff;
            font-size: 18px;
            margin: 9px 0px;
        }
    }

    .container-inp {
        margin-top: 10px;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }


    .sec-inp {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: 10px;

        label {
            margin-bottom: 7px;
            color: #fff;
        }

        .text-danger {
            font-size: 13px;
            color: #a11b3b;
            margin-top: 7px;
        }

        input[type="text"] {
            height: 40px;
            padding: 5px 10px;
            transition: $transision-esein-out;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            background-color: #ffffff7e;

            &:focus {
                border-color: $color-red;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
            }
        }

        .submit {
            font-family: "shabnam";
            background-color: $color-red;
            color: #fff;
            box-shadow: $box-shadow-red;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            transition: $transision-esein-out;
            height: 40px;
            cursor: pointer;
            margin-top: 20px;
            margin-bottom: 15px;

            &:hover {
                background-color: #a11b3b;
            }
        }

        textarea {
            height: 90px;
            min-height: 90px;
            max-height: 90px;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            padding: 5px 10px;
            transition: $transision-esein-out;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            background-color: #ffffff7e;

            &:focus {
                border-color: $color-red;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
            }
        }
    }
}



/* Start Responsive */
@media (max-width: 680px) {

    .container {
      //  display: flex;
      //  align-items: center;
      //  justify-content: center;
     // width: 90%;
    //  padding: 20px;
      
      //border-radius: 0px !important;
    //  margin: 20px;
     // background-color: red;
     height: unset !important;
    }

    .container-contact {
        flex-direction: column;
       // height: 90%;
      //  width: 900px;
      border-radius: 0px;
      height: unset !important;
      margin-bottom: 40px;
    }

    .sec-right {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        padding: 20px;
       // margin: 20px;
    }    

    .sec-left {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        margin: 0px;
        margin-top: 30px;
      //  margin-bottom: 300px;
    
    }
}
/* End Responsive */