@import "defult.scss";

/* Start Step Line */
.Steps {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .box {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 40px;

        .img {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 10px;

            svg {
                width: 30px;
            }
        }

        .arrow-left {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 200px;
                height: 5px;
                background-color: #eee;
                right: 0px;
                z-index: -1;
            }
        }

        .red {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 200px;
                height: 5px;
                background-color: $color-red;
                right: 0px;
                z-index: -1;
            }
        }


        .tick {
            background-color: $color-red;
        }

        .not-tick {
            background-color: #eee;
        }

        span {
            color: #222;
            font-size: 13px;
        }
    }
}

/* End Step Line */


/* Start Header */
.header {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    h1 {
        font-size: 20px;
        color: #222;
        margin: 20px 0px;
    }

    /* Start Btn Invoice */
    a {
        padding: 10px 14px;
        background-color: $color-red;
        color: #fff;
        margin-top: 14px;
        border-radius: 10px;
        transition: $transision-esein-out;
        display: flex;
        align-items: center;
        box-shadow: $box-shadow-red;

        svg {
            width: 28px;
            margin-left: 5px;
        }

        &:hover {
            background-color: #a51b3b;
        }
    }

    /* End Btn Invoice */
}

/* End Header */


/* Start Box invoice Detials */
.invoice-details {

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;

    .box {
        background-color: #f689a3;
        display: flex;
        flex-direction: column;
        height: 110px;
        width: 20%;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        h3 {
            margin-bottom: 14px;
            font-size: 16px;
            color: #222;
        }

        p {
            font-size: 14px;
            color: #222;
        }
    }
}

/* End Box invoice Detials */


/* Start Table Product */
.list-product {
    margin-top: 40px;

    header {
        margin-bottom: 10px;
        color: #222;
    }

    table {
        border: 2px solid #ccc;
        text-align: right;
        width: 100%;
        color: #222;
    }

    td {
        padding: 10px 10px;
    }

    th {
        border-bottom: 2px solid #ccc;
        padding: 10px 10px;
    }
}

/* End Table Product */


/* Start Responsive */
@media (max-width: 1000px) {


    .invoice-details {
        flex-direction: column;
        align-items: center;

        .box {
            width: 80%;
            margin-bottom: 10px;
            height: 60px;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 20px;
            align-items: center;


            h3 {
                margin-bottom: 0px;
            }
        }
    }

    /* Start Steps */
    .Steps {
        .box {
            margin: 0px 20px;

            .img {
                width: 30px;
                height: 30px;

                svg {
                    width: 20px;
                }
            }

            .arrow-left {

                &::after {
                    width: 130px;
                }
            }

            span {
                font-size: 12px;
            }
        }
    }

    /* End Steps */


    /* Start Table Product */
    .list-product {
        margin-top: 20px;

        td {
            font-size: 12px;
        }

        th {
            font-size: 12px;
        }
    }

    /* End Table Product */

}

/* End Responsive */