@import "defult.scss";



/* Start Responsive for mobile  */
#over {
    position: fixed;
    content: '';
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.242);
    transition: $transision-esein-out;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.active-over {
    visibility: visible !important;
    opacity: 1 !important;
}


#btnmenu {
    position: absolute;
    right: 15px;
    top: 5px;
    border: none;
    cursor: pointer;
    box-shadow: $box-shadow-soft;
    border-radius: 10px;
    display: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 9;

    svg {
        width: 22px;
        height: 22px;
    }
}

/* End Responsive for mobile  */


/* Start Header Top Panel */
.header {
    font-size: 13px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow-soft;
}

/* End Header Top Panel */

.sec-right {
    .Fullname {
        margin: 0px 10px;
        color: $color-success;
    }
}

.sec-left {
    display: flex;

    a {
        color: $color-red;
        transition: $transision-esein-out;

        &:hover {
            color: #a11b3b;
        }
    }

    h3 {
        margin-right: 30px;
    }
}

/* Start Section Bar */
.list {
    margin-top: 10px;

    /* Start ScrollBar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }

    /* End ScrollBar */
    .ul-list {
        transition: $transision-esein-out;
        box-shadow: $box-shadow-hard;
        width: 230px;
        height: 660px;
        overflow-y: scroll;
        background-color: #fff;

        .line-list {
            display: flex;
            padding: 5px 0px;
            font-size: 14px;
            justify-content: center;
            width: 100%;
            background: rgba(255, 255, 255, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.35);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(12px) saturate(120%);
            -webkit-backdrop-filter: blur(12px) saturate(120%);
            overflow: hidden;
            color: #0b0b0b;
        }

        li {

            a {
                display: flex;
                padding: 18px 14px;
                font-size: 14px;
                transition: $transision-esein-out;
                margin: 6px 4px;
                border-radius: 7px;
                align-items: center;
                background: rgba(255, 255, 255, 0.25);
                border: 1px solid rgba(255, 255, 255, 0.35);
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(12px) saturate(120%);
                -webkit-backdrop-filter: blur(12px) saturate(120%);
                overflow: hidden;
                color: #0b0b0b;

                svg {
                    width: 25px;
                    margin-left: 7px;

                    path {
                        transition: $transision-esein-out;
                    }
                }

                &:hover {
                    background-color: $color-red;
                    color: #fff;
                    padding: 18px 20px;


                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

/* End Section Bar */


.container-fluid {
    display: flex;
}

.container-body {
    margin: 20px;
    box-shadow: $box-shadow-soft;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

/* Start Header */
.header-sec {
    color: #222;
    font-size: 10px;
    position: relative;
    padding-right: 10px;

    h1 {
        background: linear-gradient(100deg, rgba(0, 0, 0, 1) 92%, rgba(196, 37, 61, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 40px;
        top: -5px;
        right: -20px;
        background-color: $color-red;
    }

    &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 20px;
        top: 5px;
        right: -10px;
        background-color: $color-red;
    }
}

/* End Header */


.header-slider {
    margin-top: 20px;
    font-size: 9px;
    margin-right: 100px;
    margin-bottom: 20px;
    color: #222;

    h1 {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $color-red;
            box-shadow: $box-shadow-red;
        }
    }
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 40px 0px;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.slide-side {
    margin: 0px 20px;
    background-color: #eee;
    height: 100px;
    width: 200px;
    position: relative;
    border-radius: 7px;

    input {
        display: none;
    }

    label {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
        transition: $transision-esein-out;
        cursor: pointer;

        &:hover {
            background-color: #0b0b0b20;

        }
    }

    img {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 90;
        height: 100px;
        width: 200px;
        border-radius: 7px;
    }
}

.container-mini-slider {
    margin-top: 30px;

    .sec-mini-slider {
        display: flex;
        justify-content: center;
    }
}

.submit {
    font-family: "shabnam";
    background-color: $color-red;
    color: #fff;
    box-shadow: $box-shadow-red;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: $transision-esein-out;
    height: 40px;
    width: 160px;
    cursor: pointer;
    margin-top: 100px;
    margin-right: 20px;

    &:hover {
        background-color: #a11b3b;
    }
}


/* Start Responsive */
@media (max-width: 900px) {

    /* start responsive Menu */
    .header {
        padding: 10px 15px;
        font-size: 12px;
    }

    .ul-list {
        position: fixed;
        z-index: 100;
        height: 100% !important;
        top: 0px;
        bottom: 0px;
        visibility: hidden;
        transform: translate(300px);
        opacity: 0;
    }

    .ul-list-active {
        visibility: visible !important;
        transform: translate(0px) !important;
        opacity: 1 !important;
    }

    .header-sec {
        h1 {
            font-size: 15px;
        }

        &::after {
            top: -9px;
            right: -10px;
        }

        &::before {
            top: 0px;
            right: -3px;
        }
    }

    /* Start Menu humberger */
    #btnmenu {
        display: flex;
    }

    /* End Menu humberger */

    /* start responsive Menu */

    .container-body {
        margin: 0px;
        box-shadow: none;
        padding: 10px;
    }

    .header {
        .sec-right {

            .Fullname {
                padding-right: 35px;
            }

            .alert-login {
                display: none;
            }
        }
    }

}

/* End Responsive */



@media (max-width: 900px) {
    
    .header-slider{
        margin-right: 20px;
    }
    
    .slider{
        flex-direction: column;
        
        .slide-side{
            margin: 10px 0px;
        }
    }

    .sec-mini-slider{
        flex-direction: column;

        .slide-side{
            margin: 10px 0px;
        }
    }
    .btns{
        text-align: center;
    }

    .submit{
        margin-top: 15px;
        margin-right: 0px;
    }


}