@import "defult.scss";

.header {
    font-size: 13px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow-soft;
}

.sec-right {
    .Fullname {
        margin: 0px 10px;
        color: $color-success;
    }
}

.sec-left {
    display: flex;

    a {
        color: $color-red;
        transition: $transision-esein-out;

        &:hover {
            color: #a11b3b;
        }
    }

    h3 {
        margin-right: 30px;
    }
}

/* Start Section Bar */
.list {
    margin-top: 10px;
    width: 230px;

    /* Start ScrollBar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }

    /* End ScrollBar */
    .ul-list {
        box-shadow: $box-shadow-hard;
        width: 230px;
        height: 660px;
        overflow-y: scroll;
        background-color: #fff;

        .line-list {
            display: flex;
            padding: 5px 0px;
            font-size: 14px;
            justify-content: center;
            width: 100%;
            background: rgba(255, 255, 255, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.35);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(12px) saturate(120%);
            -webkit-backdrop-filter: blur(12px) saturate(120%);
            overflow: hidden;
            color: #0b0b0b;
        }

        li {

            a {
                display: flex;
                padding: 18px 14px;
                font-size: 14px;
                transition: $transision-esein-out;
                margin: 6px 4px;
                border-radius: 7px;
                align-items: center;
                background: rgba(255, 255, 255, 0.25);
                border: 1px solid rgba(255, 255, 255, 0.35);
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(12px) saturate(120%);
                -webkit-backdrop-filter: blur(12px) saturate(120%);
                overflow: hidden;
                color: #0b0b0b;

                svg {
                    width: 25px;
                    margin-left: 7px;

                    path {
                        transition: $transision-esein-out;
                    }
                }

                &:hover {
                    background-color: $color-red;
                    color: #fff;
                    padding: 18px 20px;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

/* End Section Bar */


.container-fluid {
    display: flex;
}

.container-body {
    margin: 20px;
    box-shadow: $box-shadow-soft;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

/* Start Header */
.header-sec {
    color: #222;
    font-size: 10px;
    position: relative;
    padding-right: 10px;

    h1 {
        background: linear-gradient(100deg, rgba(0, 0, 0, 1) 92%, rgba(196, 37, 61, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 40px;
        top: -5px;
        right: -20px;
        background-color: $color-red;
    }

    &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 20px;
        top: 5px;
        right: -10px;
        background-color: $color-red;
    }
}

/* End Header */


/* Start Filter */
.filter {
    margin-top: 25px;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;

    .sec-right {
        display: flex;
    }

    .sec-left {
        margin-left: 40px;
        font-size: 13px;

        .count {
            background-color: #eee;
            padding: 2px 4px;
            border-radius: 4px;
        }
    }

    .select-order {
        height: 40px;
        width: 200px;
        padding: 5px 10px;
        transition: $transision-esein-out;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        margin: 0px 10px;
        font-family: "shabnam";

        &:focus {
            border-color: $color-red;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
        }
    }

    .btn {
        font-family: "shabnam";
        width: 80px;
        border: none;
        color: #fff;
        margin: 0px 10px;
        border-radius: 6px;
        transition: $transision-esein-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 20px;
            margin-left: 5px;
            margin-top: -3px;
        }
    }

    .btn-fillter {
        background-color: $color-red;
        box-shadow: $box-shadow-red;

        &:hover {
            background-color: #a11b3b;
        }
    }
}

/* End Filter */


/* Start list Comment */
.container-comment {
    margin-top: 15px;
    overflow-y: scroll;
    height: 500px;
    background-color: #eee;
    padding: 4px;
    border-radius: 7px;
}

.sec-comment {
    box-shadow: $box-shadow-soft;
    border-radius: 10px;
    position: relative;
    padding: 14px;
    background-color: #fff;
    margin: 14px 10px;
    font-size: 14px;

    .sec-top {
        display: flex;
        align-items: center;

        .fullname {
            margin: 0px 10px;
            display: flex;
            align-items: center;

            svg{
                width: 24px;
                //display: flex;
                margin-left: 5px;
                margin-top: -5px;

            }
        }

        .phonenumber {

            margin: 0px 10px;

            .phone{
                padding: 2px 4px;
                border-radius: 4px;
                background-color: #eee;
            }
        }

        .dec-comment {
            margin: 0px 10px;
        }
    }

    .sec-bottom {
        margin: 20px 0px;
        display: flex;

        .btn-success {
            color: $color-success;
            margin: 0px 10px;
            transition: $transision-esein-out;

            &:hover {
                color: #014e48;
            }
        }

        .btn-danger {
            color: $color-red;
            margin: 0px 10px;
            transition: $transision-esein-out;

            &:hover {
                color: #a11b3b;
            }
        }

        .btn-info {
            color: $color-blue;
            margin: 0px 10px;
            transition: $transision-esein-out;

            &:hover {
                color: #133260;
            }
        }

        .sec-date {
            margin-right: 20px;

            .date {
                background-color: #eee;
                padding: 2px 4px;
                border-radius: 5px;
            }
        }
    }

    .replace-comment {
        width: 100%;
        position: relative;
        max-height: 0px;
        height: 0px;
        overflow: hidden;
        transition: $transision-esein-out;

        .rep {

            height: 70px;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            max-height: 70px;
            min-height: 70px;
            outline: none;
            font-family: "shabnam";
            padding: 10px;
            border-radius: 7px;
            transition: $transision-esein-out;

            &:focus {
                border: 1px solid #a11b3b;
            }
        }

        .btns {
            position: absolute;
            left: 10px;
            display: flex;
        }

        .btn {
            font-family: "shabnam";
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 25px;
            border: none;
            font-size: 13px;
            transition: $transision-esein-out;
            margin: 0px 5px;
            border-radius: 4px;
        }

        .btn-danger {
            color: #fff;
            background-color: $color-red;

            &:hover {
                background-color: #a11b3b;
            }
        }

        .btn-info {
            color: #fff;
            background-color: $color-blue;

            &:hover {
                background-color: #0c203d;
            }
        }
    }

    .replace-comment-active {
        height: 110px;
        max-height: 110px !important;
    }
}

/* End list Comment */


/* Start Pagging */
.pagging {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .list-count {
        display: flex;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            margin: 0px 5px;
            background-color: #eee;
            transition: $transision-esein-out;
            border-radius: 5px;
            transition: $transision-esein-out;

            a {
                transition: $transision-esein-out;
                color: #222;
            }

            &:hover {
                background-color: #a11b3b;

                a {
                    color: #fff;
                }
            }
        }

        .active {
            background-color: #a11b3b;

            a {
                color: #fff;
            }
        }
    }
}

/* End Pagging */