@import "defult.scss";


/* Start Responsive for mobile  */
#over {
    position: fixed;
    content: '';
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.242);
    transition: $transision-esein-out;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.active-over {
    visibility: visible !important;
    opacity: 1 !important;
}


#btnmenu {
    position: absolute;
    right: 15px;
    top: 5px;
    border: none;
    cursor: pointer;
    box-shadow: $box-shadow-soft;
    border-radius: 10px;
    display: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 9;

    svg {
        width: 22px;
        height: 22px;
    }
}

/* End Responsive for mobile  */

.header {
    font-size: 13px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow-soft;
}

.sec-right {
    .Fullname {
        margin: 0px 10px;
        color: $color-success;
    }
}

.sec-left {
    display: flex;

    a {
        color: $color-red;
        transition: $transision-esein-out;

        &:hover {
            color: #a11b3b;
        }
    }

    h3 {
        margin-right: 30px;
    }
}

/* Start Section Bar */
.list {
    margin-top: 10px;

    /* Start ScrollBar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }

    /* End ScrollBar */
    .ul-list {
        transition: $transision-esein-out;
        box-shadow: $box-shadow-hard;
        width: 230px;
        height: 660px;
        overflow-y: scroll;
        background-color: #fff;

        .line-list {
            display: flex;
            padding: 5px 0px;
            font-size: 14px;
            justify-content: center;
            width: 100%;
            background: rgba(255, 255, 255, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.35);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(12px) saturate(120%);
            -webkit-backdrop-filter: blur(12px) saturate(120%);
            overflow: hidden;
            color: #0b0b0b;
        }

        li {

            a {
                display: flex;
                padding: 18px 14px;
                font-size: 14px;
                transition: $transision-esein-out;
                margin: 6px 4px;
                border-radius: 7px;
                align-items: center;
                background: rgba(255, 255, 255, 0.25);
                border: 1px solid rgba(255, 255, 255, 0.35);
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(12px) saturate(120%);
                -webkit-backdrop-filter: blur(12px) saturate(120%);
                overflow: hidden;
                color: #0b0b0b;

                svg {
                    width: 25px;
                    margin-left: 7px;

                    path {
                        transition: $transision-esein-out;
                    }
                }

                &:hover {
                    background-color: $color-red;
                    color: #fff;
                    padding: 18px 20px;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

/* End Section Bar */


.container-fluid {
    display: flex;
}

.container-body {
    margin: 20px;
    box-shadow: $box-shadow-soft;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

/* Start Header */
.header-sec {
    color: #222;
    font-size: 10px;
    position: relative;
    padding-right: 10px;

    h1 {
        background: linear-gradient(100deg, rgba(0, 0, 0, 1) 92%, rgba(196, 37, 61, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 40px;
        top: -5px;
        right: -20px;
        background-color: $color-red;
    }

    &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 20px;
        top: 5px;
        right: -10px;
        background-color: $color-red;
    }
}

/* End Header */


/* Start Filter */
.filter {
    margin-top: 25px;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;

    .sec-right {
        display: flex;

        .btn-group {
            display: flex;
        }
    }

    .sec-left {
        margin-left: 40px;
        font-size: 13px;

        .count {
            background-color: #eee;
            padding: 2px 4px;
            border-radius: 4px;
        }
    }


    .inp-search,
    select {
        height: 40px;
        width: 200px;
        padding: 5px 10px;
        transition: $transision-esein-out;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        font-family: "shabnam";
        margin: 0px 10px;

        &:focus {
            border-color: $color-red;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
        }
    }

    .btn {
        font-family: "shabnam";
        width: 40px;
        height: 40px;
        border: none;
        color: #fff;
        margin: 0px 5px;
        border-radius: 6px;
        transition: $transision-esein-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            width: 20px;
        }
    }

    .btn-fillter {
        background-color: $color-red;
        box-shadow: $box-shadow-red;

        &:hover {
            background-color: #a11b3b;
        }
    }

    .btn-excel {
        background-color: $color-success;
        box-shadow: 0 3px 8px color-mix(in srgb, #3ae846 65%, transparent);

        &:hover {
            background-color: #014541;
        }
    }
}

/* End Filter */


/* Start Product */
.container-product {
    margin-top: 15px;
    overflow-y: scroll;
    height: 500px;
    background-color: #eee;
    padding: 4px;
    border-radius: 7px;
}

.sec-product {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow-soft;
    padding: 10px 14px 0px 14px;
    border-radius: 7px;
    margin: 14px 10px;
    background-color: #fff;


    .sec-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;
        color: #222;

        img {
            width: 80px;
        }

        .type-success {
            color: $color-success;
        }

        .type-danger {
            color: $color-red;
        }

        .details {
            display: flex;
            align-items: center;
            width: 650px;
            justify-content: space-between;

            h2 {
                font-size: 15px;

            }

            .sec-amount {
                font-size: 14px;
                display: flex;
                align-items: center;

                span {
                    margin: 0px 4px;
                }

                svg {
                    width: 25px;
                }

                .amount {
                    background-color: #eee;
                    padding: 2px 4px;
                    border-radius: 5px;
                    font-family: "cinema";
                }
            }
        }

        .btn-group {
            display: flex;
            flex-direction: column;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #0b0b0b;
                padding: 5px 14px;
                font-size: 13px;
                margin: 2px 0px;
                border-radius: 7px;
                transition: $transision-esein-out;
            }

            .btn-success {
                color: $color-success;
            }

            .btn-info {
                color: $color-blue;
            }

            .btn-danger {
                color: $color-red;
            }
        }
    }

    .sec-bottom {
        border-top: 2px solid rgb(230, 230, 230);
        display: flex;
        padding: 10px 0px;
        justify-content: center;

        h4 {
            font-size: 13px;
            color: #444;
            margin: 0px 16px;

            span {
                margin: 0px 2px;
            }
        }
    }
}


/* Start Pagging */
.pagging {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .list-count {
        display: flex;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            margin: 0px 5px;
            background-color: #eee;
            transition: $transision-esein-out;
            border-radius: 5px;
            transition: $transision-esein-out;

            a {
                transition: $transision-esein-out;
                color: #222;
            }

            &:hover {
                background-color: #a11b3b;

                a {
                    color: #fff;
                }
            }
        }

        .active {
            background-color: #a11b3b;

            a {
                color: #fff;
            }
        }
    }
}

/* End Pagging */

/* End Product */




/* Start Responsive */
@media (max-width: 900px) {

    /* start responsive Menu */
    .header {
        padding: 10px 15px;
        font-size: 12px;
    }

    .ul-list {
        position: fixed;
        z-index: 100;
        height: 100% !important;
        top: 0px;
        bottom: 0px;
        visibility: hidden;
        transform: translate(300px);
        opacity: 0;
    }

    .ul-list-active {
        visibility: visible !important;
        transform: translate(0px) !important;
        opacity: 1 !important;
    }

    .header-sec {
        h1 {
            font-size: 15px;
        }

        &::after {
            top: -9px;
            right: -10px;
        }

        &::before {
            top: 0px;
            right: -3px;
        }
    }

    /* Start Menu humberger */
    #btnmenu {
        display: flex;
    }

    /* End Menu humberger */

    /* start responsive Menu */

    .container-body {
        margin: 0px;
        box-shadow: none;
        padding: 10px;
    }

    .header {
        .sec-right {

            .Fullname {
                padding-right: 35px;
            }

            .alert-login {
                display: none;
            }
        }
    }

}

/* End Responsive */


@media (max-width: 900px) {

    .filter{
        margin-right: 0px;
    }

    .sec-right {
        flex-direction: column;

        .inp-search {
            margin: 5px 0px !important;
        }

        .select-order {
            margin: 5px 0px;
        }

        .btn-group {
            margin-top: 10px;
        }
    }

    .sec-left {
        margin-left: 10px !important;
    }


    .sec-product {
        width: 750px !important;

        .details {
            width: auto !important;
        }
    }

}