@import "defult.scss";

/* Start Header Top Panel */
.header {
    font-size: 13px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-shadow-soft;
}

/* End Header Top Panel */

.sec-right {
    .Fullname {
        margin: 0px 10px;
        color: $color-success;
    }
}

.sec-left {
    display: flex;

    a {
        color: $color-red;
        transition: $transision-esein-out;

        &:hover {
            color: #a11b3b;
        }
    }

    h3 {
        margin-right: 30px;
    }
}

/* Start Section Bar */
.list {
    margin-top: 10px;
    width: 230px;

    /* Start ScrollBar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }

    /* End ScrollBar */
    .ul-list {
        box-shadow: $box-shadow-hard;
        width: 230px;
        height: 660px;
        overflow-y: scroll;
        background-color: #fff;

        .line-list {
            display: flex;
            padding: 5px 0px;
            font-size: 14px;
            justify-content: center;
            width: 100%;
            background: rgba(255, 255, 255, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.35);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
            backdrop-filter: blur(12px) saturate(120%);
            -webkit-backdrop-filter: blur(12px) saturate(120%);
            overflow: hidden;
            color: #0b0b0b;
        }

        li {

            a {
                display: flex;
                padding: 18px 14px;
                font-size: 14px;
                transition: $transision-esein-out;
                margin: 6px 4px;
                border-radius: 7px;
                align-items: center;
                background: rgba(255, 255, 255, 0.25);
                border: 1px solid rgba(255, 255, 255, 0.35);
                box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
                backdrop-filter: blur(12px) saturate(120%);
                -webkit-backdrop-filter: blur(12px) saturate(120%);
                overflow: hidden;
                color: #0b0b0b;

                svg {
                    width: 25px;
                    margin-left: 7px;

                    path {
                        transition: $transision-esein-out;
                    }
                }

                &:hover {
                    background-color: $color-red;
                    color: #fff;
                    padding: 18px 20px;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

/* End Section Bar */


.container-fluid {
    display: flex;
}

.container-body {
    margin: 20px;
    box-shadow: $box-shadow-soft;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

/* Start Header */
.header-sec {
    color: #222;
    font-size: 10px;
    position: relative;
    padding-right: 10px;

    h1 {
        background: linear-gradient(100deg, rgba(0, 0, 0, 1) 92%, rgba(196, 37, 61, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 40px;
        top: -5px;
        right: -20px;
        background-color: $color-red;
    }

    &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 20px;
        top: 5px;
        right: -10px;
        background-color: $color-red;
    }
}

/* End Header */


/* Start Section transportation */
.container-transportation {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    //  background-color: red;
}

.container-inp {

    .sec-inp {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: 8px 0px;

        label {
            color: #222;
            margin: 0px 20px;
        }

        .text-danger {
            font-size: 13px;
            color: #a11b3b;
            margin-top: 3px;
            margin: 0px 20px;
        }

        input[type="number"],
        select {
            height: 40px;
            width: 320px;
            padding: 5px 10px;
            transition: $transision-esein-out;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            font-family: "shabnam";
            margin: 10px 20px;

            &:focus {
                border-color: $color-red;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
            }
        }

        .submit {
            font-family: "shabnam";
            background-color: $color-red;
            color: #fff;
            box-shadow: $box-shadow-red;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            transition: $transision-esein-out;
            height: 40px;
            cursor: pointer;
            margin-top: 40px;
            margin-bottom: 15px;
            width: 180px;
            margin: 0px 20px;

            &:hover {
                background-color: #a11b3b;
            }
        }
    }
}


.row {
    background-color: #eee;
    overflow-y: scroll;
    overflow-x: auto;
    height: 500px;
    background-color: #eee;
    padding: 10px;
    border-radius: 7px;


    svg {
        width: 20px;

        path {
            fill: $color-red;
            transition: $transision-esein-out;
        }
    }

    .toman {
        background-color: #eee;
        font-family: "cinema";
        padding: 2px 7px;
        margin-right: 5px;
        border-radius: 10px;
    }

    a {
        &:hover {
            svg {
                path {
                    fill: #891933;
                }
            }
        }
    }
}

.table {
    width: 600px;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 14px;
    margin-top: 20px;

    .text-center {
        text-align: center;
        width: 100px;
    }
}

.table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

th {
    background-color: #f8f8f8;
}



/* End Section transportation */